<form action="sudmid" class="counter">

    <div class="forum">
        <div class="container">
            <div class="logo">
                <mat-icon class="wallet-icon">wallet</mat-icon>
                <h1 class="name-page">Financial Flow</h1>
                <p class="text-login">Log in to your account</p>
            </div>
            <div class="inputs">
                <p>Email</p>
                <div class="input-group">
                    <mat-icon class="input-icon">email</mat-icon>
                    <input type="email" class="input-field" placeholder="example@email.com">
                </div>

                <p>Password</p>
                <div class="input-group">
                    <mat-icon class="input-icon">lock</mat-icon>
                    <input type="password" id="password" class="input-field" placeholder="•••••••••••">
                    <mat-icon class="toggle-password" onclick="toggleVisibility()">visibility</mat-icon>
                </div>
            </div>
            <div class="options">
                <input type="checkbox" name="Remember me" id="">
                <p>Remember me</p>
                <a href="" class="forgot-password">Forgot your password?</a>
            </div>
            <button class="button-login">Login</button>
            <div class="resgistry-link">
                <p>Don't you have an account?</p>
                <a href="" class="registry-link">Registry</a>
            </div>
        </div>

    </div>
</form>