<form class="counter" [formGroup]="loginForm" (ngSubmit)="onLogin()">

    <div class="forum">
        <div class="container">
            <div class="logo">
                <mat-icon class="wallet-icon">wallet</mat-icon>
                <h1 class="name-page">Financial Flow</h1>
                <p class="text-login">Log in to your account</p>
            </div>
            <div class="inputs">
                <p>Email</p>
                <div class="input-group">
                    <mat-icon class="input-icon">email</mat-icon>
                    <input  
                      type="email" 
                      class="input-field" 
                      placeholder="example@email.com"
                      formControlName="email">
                </div>
                @if (loginForm.get('email')?.invalid && loginForm.get('email')?.touched) {
                  <small class="error-text">Email is required and must be valid</small>
                }

                <p>Password</p>
                <div class="input-group">
                    <mat-icon class="input-icon">lock</mat-icon>

                    <input
                      [type]="hidePassword ? 'password' : 'text'" 
                      class="input-field" 
                      placeholder="•••••••••••"
                      formControlName="password">

                    <mat-icon class="toggle-password" (click)="toggleVisibility()">
                        {{ hidePassword ? 'visibility' : 'visibility_off' }}
                    </mat-icon>
                </div>
                @if (loginForm.get('password')?.invalid && loginForm.get('password')?.touched) {
                  <small class="error-text">Password must be at least 6 characters</small>
                }

            </div>
            <div class="options">
                <input type="checkbox" name="Remember me" id="">
                <p>Remember me</p>
                <a href="" class="forgot-password">Forgot your password?</a>
            </div>
            <button type="submit" class="button-login">Login</button>
            <div class="resgistry-link">
                <p>Don't you have an account?</p>
                <a href="register" class="registry-link">Registry</a>
            </div>
        </div>

    </div>
</form>
