<header class="header-container">
    <nav class="menu">
        <div class="menu-logo">
            <mat-icon class="wallet-icon">wallet</mat-icon>
            <h1 class="meni-title">Finanzas Personales</h1>
        </div>
        <div class="button-transaction-add">
            <button mat-icon-button>
                <mat-icon>add</mat-icon>
                Nueva Transacción
            </button>
        </div>
        <div class="menu-user">
            <mat-icon class="user-icon">account_circle</mat-icon>
        </div>


    </nav>
</header>

<main class="main-container">
    <div class="balance-container">
        <h2>Ganado {{ money_earned() }}</h2>
        <h2>Gastado {{ money_spent() }}</h2>
        <h2>Balance total {{ balance() }}</h2>
    </div>
    <div class="dashboard-chart">
        <app-bar-chart></app-bar-chart>
        <app-pie-chart></app-pie-chart>
    </div>
    <div class="history_transactions">
        <h2>Historial de Transacciones</h2>
        @for(transaction of transactions; track $index) {
            <div class="transaction">
                <h3>{{ transaction.description }}</h3>
                <p>{{ transaction.amount }}</p>
            </div>
        }
    </div>
</main>

